In [3]:
for i in range(1,20,3):
    print("i is now {}".format(i))

i is now 1
i is now 4
i is now 7
i is now 10
i is now 13
i is now 16
i is now 19

In [4]:
for i in range(20):
    print("i is now {}".format(i))

i is now 0
i is now 1
i is now 2
i is now 3
i is now 4
i is now 5
i is now 6
i is now 7
i is now 8
i is now 9
i is now 10
i is now 11
i is now 12
i is now 13
i is now 14
i is now 15
i is now 16
i is now 17
i is now 18
i is now 19

In [5]:
for i in range(20,1,-3):
    print("i is now {}".format(i))

i is now 20
i is now 17
i is now 14
i is now 11
i is now 8
i is now 5
i is now 2

In [16]:
num = '9,200,5,100,4,6,678,359,478'
print(type(num))
for i in range(0,len(num)):
        print(num[i])

<class 'str'>
9
,
2
0
0
,
5
,
1
0
0
,
4
,
6
,
6
7
8
,
3
5
9
,
4
7
8

In [17]:
#To remove commas this is program
num = '9,200,5,100,4,6,678,359,478'
print(type(num))
for i in range(0,len(num)):
    if num[i] in '0123456789':      
        print(num[i],end='')

<class 'str'>
9200510046678359478

In [19]:
num = '9,200,5,100,4,6,678,359,478'
cleanednumber =''
for i in range(0,len(num)):
    if num[i] in '0123456789':
        cleanednumber = cleanednumber + num[i]
newnumber = int(cleanednumber)
print(type(num))
print("The number is {}".format(newnumber))

<class 'str'>
The number is 9200510046678359478