In [1]:
import os

In [8]:
os.getcwd()

'C:\\Users\\swaps\\ML-Python Stuffs\\Edwisor_Assignments'

In [7]:
os.chdir("C:\\Users\\swaps\\ML-Python Stuffs\\Edwisor_Assignments")

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mlt

In [12]:
data = pd.read_csv("stasts.csv")

In [13]:
data

    A  B     C     D
0   7  5  2003  2003
1   6  8  1976  1976
2   7  5  2001  2002
3   7  5  1915  1970
4   8  5  2000  2000
5   5  5  1993  1995
6   8  5  2004  2005
7   7  6  1973  1973
8   7  5  1931  1950
9   5  6  1939  1950
10  5  5  1965  1965

In [15]:
data.columns

Index(['A', 'B', 'C', 'D'], dtype='object')