In [1]:
import pandas  as pd

In [3]:
stat = pd.read_csv('stasts.csv')
stat.head()

   A  B     C     D
0  7  5  2003  2003
1  6  8  1976  1976
2  7  5  2001  2002
3  7  5  1915  1970
4  8  5  2000  2000

In [4]:
stat.describe()

               A          B            C            D
count  11.000000  11.000000    11.000000    11.000000
mean    6.545455   5.454545  1972.727273  1980.818182
std     1.128152   0.934199    31.827947    21.084678
min     5.000000   5.000000  1915.000000  1950.000000
25%     5.500000   5.000000  1952.000000  1967.500000
50%     7.000000   5.000000  1976.000000  1976.000000
75%     7.000000   5.500000  2000.500000  2001.000000
max     8.000000   8.000000  2004.000000  2005.000000

In [7]:
stat['A'].std()

1.1281521496355325

In [9]:
stat

    A  B     C     D
0   7  5  2003  2003
1   6  8  1976  1976
2   7  5  2001  2002
3   7  5  1915  1970
4   8  5  2000  2000
5   5  5  1993  1995
6   8  5  2004  2005
7   7  6  1973  1973
8   7  5  1931  1950
9   5  6  1939  1950
10  5  5  1965  1965

In [10]:
stat['A'].sum()

72

In [14]:
stat['A'].mode()

0    7
dtype: int64