In [2]:
#Addition in Python
#Integers
x = 4
y = 6

#Addition
print(x+y)

10

In [5]:
#float values
a = 4.0
b = 2.0


#Addition
print(a+b)

#sub
print(a-b)

#mul
print(a*b)

#Div
# Returns the quotient
print(a/b)

#Mod
# Returns the remainder
print(a%b)


# Absolute value using abs method
print(abs(a))

# x to the power y
print(a ** b)

6.0
2.0
8.0
2.0
0.0
4.0
16.0

In [12]:
#string

x= 'Fun'
y = 'xcel'

# Concatenate 
print(x+' E '+y)

#Repeat
print (x * 2)

Fun E xcel
FunFun

In [19]:
 #String
# Range Slicing
myname = 'SWAPNIL'
z1 =myname[2:]
print(z1)

# Slicing
z2 = myname[0] + myname[5] 

print(z2)

APNIL
SI

In [21]:
# only 1 letter capitalize
str.capitalize('elephant')

'Elephant'

In [23]:
str1 = "We love Data Science"
str2 = "404"
#Find len of string
len(str1)

20

In [25]:
str1.isdigit()

False

In [27]:
str2.isdigit()

True

In [29]:
str3 = 'like'
str1.replace('love', str3)

'We like Data Science'

In [31]:
#find keyword or word
str1.find('love')
str1

'We love Data Science'

In [33]:
# Boolean
x = 4
y = 2
z = (x==y) # Comparison expression (Evaluates to false)
if z: # Conditional on truth/false value of 'z'
    print("We DO not want to be a Data Scientists")
else: print("We  want to be a Data Scientists")

We  want to be a Data Scientists

In [35]:
# Implicit Conversions
# A float
x = 6.0 

# An integer
y = 3 

# Divide `x` by `y`
z = x/y

# Check the type of `z`
type(z)

float

In [38]:
# Explicit Conversion
#error for string to concatenate with int value
x = 8
y = "Game of Thrones: Season "
fav_season = y + x

TypeError: can only concatenate str (not "int") to str

In [40]:
x = 8
y = "Game of Thrones: Season "
fav_season = (y) + str(x)
print(fav_season)

Game of Thrones: Season 8

In [41]:
x = 'sacred games season : '
y = 2

print(x+str(y))

sacred games season : 2