In [2]:
#Notice Tuples use a round bracket
tupe1 = (1,2,3,4)
tupe1

(1, 2, 3, 4)

In [4]:
tupe2 = (1,2,3,4,'swap')

In [6]:
tupe2

(1, 2, 3, 4, 'swap')

In [9]:
tupe2[4]

'swap'

In [11]:
#Sets is a collection of unique elements
#Notice sets use curly crackets
s = {5,56,7,8,9,98,'Data Scientist'}
s

{5, 56, 7, 8, 9, 98, 'Data Scientist'}

In [13]:
#Can we access an element in Sets - NO since they are not in order 
s[6]

TypeError: 'set' object is not subscriptable

In [15]:
#Ww use sets as we use an object
s.add(77)
s

{5, 56, 7, 77, 8, 9, 98, 'Data Scientist'}

In [16]:
a = s.pop()
a

98