In [1]:
# Integers
x = 4
y = 2

# Addition
print(x + y)

6

In [2]:
# Floats
x = 4.0
y = 2.0

# Addition
print(x + y)

# Subtraction
print(x - y)

# Multiplication
print(x * y)

# Returns the quotient
print(x / y)

# Returns the remainder
print(x % y) 

# Absolute value
print(abs(x))

# x to the power y
print(x ** y)

6.0
2.0
8.0
2.0
0.0
4.0
16.0

In [3]:
# String
x = 'Fun'
y = 'Excel'

# Concatenate 
print(x + ' X ' + y)

# Repeat
print(x * 2)

Fun X Excel
FunFun

In [4]:
# String
# Range Slicing
myName = 'Kunaal'
z1 = myName[2:] 

print(z1)

# Slicing
z2 = myName[0] + myName[5] 

print(z2)

naal
Kl

In [5]:
# String
x = '2'
y = '1'

x + y

'21'

In [6]:
str.capitalize('elephant')

'Elephant'

In [7]:
str1 = "We love Data Science"
str2 = "404"
len(str1)

20

In [8]:
str1.isdigit()

False

In [9]:
str2.isdigit()

True

In [10]:
str3 = 'like'
str1.replace('love', str3)

'We like Data Science'

In [11]:
str1.find('love')
srt1

NameError: name 'srt1' is not defined

In [ ]:
str1

In [ ]:
# Boolean
x = 4
y = 2
z = (x==y) # Comparison expression (Evaluates to false)
if z: # Conditional on truth/false value of 'z'
    print("We want to be a Data Scientists")
else: print("We DO not want to be a Data Scientists")

In [ ]:
# Implicit Conversions
# A float
x = 6.0 

# An integer
y = 3 

# Divide `x` by `y`
z = x/y

# Check the type of `z`
type(z)

In [ ]:
# Explicit Conversion
x = 8
y = "Game of Thrones: Season "
fav_season = y + x

In [ ]:
x = 8
y = "Game of Thrones: Season "
fav_season = (y) + str(x)
print(fav_season)

In [ ]:
5/2